@charset "UTF-8";
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
/* line 26, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 27, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 29, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */
/* line 32, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 33, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 36, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .one.column,
.container .one.columns {
  width: 40px;
}

/* line 38, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .two.columns {
  width: 100px;
}

/* line 39, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .three.columns {
  width: 160px;
}

/* line 40, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .four.columns {
  width: 220px;
}

/* line 41, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .five.columns {
  width: 280px;
}

/* line 42, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .six.columns {
  width: 340px;
}

/* line 43, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .seven.columns {
  width: 400px;
}

/* line 44, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .eight.columns {
  width: 460px;
}

/* line 45, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .nine.columns {
  width: 520px;
}

/* line 46, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .ten.columns {
  width: 580px;
}

/* line 47, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .eleven.columns {
  width: 640px;
}

/* line 48, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .twelve.columns {
  width: 700px;
}

/* line 49, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .thirteen.columns {
  width: 760px;
}

/* line 50, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .fourteen.columns {
  width: 960px;
}

/* line 51, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .fifteen.columns {
  width: 880px;
}

/* line 52, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .sixteen.columns {
  width: 940px;
}

/* line 54, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .one-third.column {
  width: 300px;
}

/* line 55, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .two-thirds.column {
  width: 620px;
}

/* Offsets */
/* line 58, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-two {
  padding-left: 120px;
}

/* line 59, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-three {
  padding-left: 180px;
}

/* line 60, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-four {
  padding-left: 240px;
}

/* line 61, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-five {
  padding-left: 300px;
}

/* line 62, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-six {
  padding-left: 360px;
}

/* line 63, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-seven {
  padding-left: 420px;
}

/* line 64, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-eight {
  padding-left: 480px;
}

/* line 65, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-nine {
  padding-left: 540px;
}

/* line 66, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-ten {
  padding-left: 600px;
}

/* line 67, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-eleven {
  padding-left: 660px;
}

/* line 68, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-twelve {
  padding-left: 720px;
}

/* line 69, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-thirteen {
  padding-left: 780px;
}

/* line 70, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-fourteen {
  padding-left: 840px;
}

/* line 71, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 81, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container {
    width: 768px;
  }

  /* line 82, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 84, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 85, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 86, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 88, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }

  /* line 90, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .two.columns {
    width: 76px;
  }

  /* line 91, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .three.columns {
    width: 124px;
  }

  /* line 92, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .four.columns {
    width: 172px;
  }

  /* line 93, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .five.columns {
    width: 220px;
  }

  /* line 94, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .six.columns {
    width: 268px;
  }

  /* line 95, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .seven.columns {
    width: 316px;
  }

  /*.container .eight.columns                   { width: 364px; }*/
  /* line 98, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .nine.columns {
    width: 412px;
  }

  /* line 99, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .ten.columns {
    width: 460px;
  }

  /* line 100, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 101, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 102, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 103, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 104, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 105, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 107, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .one-third.column {
    width: 236px;
  }

  /* line 108, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .two-thirds.column {
    width: 492px;
  }

  /* Offsets */
  /* line 111, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-one {
    padding-left: 48px;
  }

  /* line 112, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-two {
    padding-left: 96px;
  }

  /* line 113, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-three {
    padding-left: 144px;
  }

  /* line 114, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-four {
    padding-left: 144px;
  }

  /* line 115, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-five {
    padding-left: 240px;
  }

  /* line 116, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-six {
    padding-left: 288px;
  }

  /* line 117, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-seven {
    padding-left: 336px;
  }

  /* line 118, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-eight {
    padding-left: 384px;
  }

  /* line 119, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-nine {
    padding-left: 432px;
  }

  /* line 120, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-ten {
    padding-left: 480px;
  }

  /* line 121, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-eleven {
    padding-left: 528px;
  }

  /* line 122, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-twelve {
    padding-left: 576px;
  }

  /* line 123, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  /* line 124, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  /* line 125, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 135, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container {
    width: 380px;
  }

  /* line 136, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 139, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 380px;
  }

  /* line 159, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .four.columns {
    width: 190px;
  }

  /* Offsets */
  /* line 163, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 188, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container {
    width: 420px;
  }

  /* line 189, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 192, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }

  /* line 212, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .container .four.columns {
    width: 210px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 221, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 225, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 235, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 238, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 243, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
/*@font-face {*/
/*font-family: 'KaitiTC1'; */
/*src: url('../font/kaitiTC.TTF'); */
/*}*/
/* line 319, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
body {
  font-family: Kaiti TC,"楷体","楷体_GB2312",KaiTi_GB2312,KaiTi,STKaiti Regular,Adobe Kaiti Std R;
  font-size: 18px;
  font-size: 18.5px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #242625;
  background: #FDFDFB;
  /*background-image:url('../img/background1.png');*/
  padding: 0;
  margin: 0px;
}

/* line 332, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
h1 {
  font-size: 80px;
  line-height: 70px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 30px;
}

/* line 341, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
h2 {
  font-size: 55px;
  font-weight: 600;
  margin: 0px;
}

/* line 348, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
h3 {
  margin: 0px;
  margin-top: 15px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

/* line 357, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
h4 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px;
}

/* line 364, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
h5 {
  margin: 0px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

/* line 371, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
a {
  color: #242625;
  text-decoration: none;
}

/* line 376, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
p {
  /*margin-right: 10px;*/
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  color: #242625;
  z-index: 5;
}

/* line 385, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
body > a > img {
  opacity: 0;
}

/* line 389, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.mediaPNG {
  height: 70px;
  margin: 20px;
  margin-top: 0px;
}

/* line 395, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#status {
  display: none;
  /* for preloader */
  width: 100%;
  height: 100%;
  position: fixed;
  /*background-image:url(../images/preloader.png);*/
  /*background-repeat: repeat;*/
  background-color: #c8ba88;
  z-index: 100000;
}

/* line 406, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.preLoderText {
  display: none;
  display: block;
  position: fixed;
  top: 13%;
  right: 0.5rem;
  content: attr(data-progress-text);
  /*font-family: "Helvetica Neue", sans-serif;*/
  font-weight: 100;
  font-size: 24px;
  line-height: 1;
  text-align: right;
  color: #8f3d37;
}

/* line 421, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.footer {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #1c303b;
}

/* line 428, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo1 {
  top: 14%;
}

/* line 429, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo2 {
  top: 17%;
}

/* line 430, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo3 {
  top: 20%;
}

/* line 431, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo4 {
  top: 23%;
}

/* line 432, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo5 {
  top: 26%;
}

/* line 433, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo6 {
  top: 29%;
}

/* line 434, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo7 {
  top: 32%;
}

/* line 435, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo8 {
  top: 35%;
}

/* line 436, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#preloderInfo9 {
  top: 38%;
}

/* line 438, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#redText {
  color: #800;
}

/* line 442, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#choosenTag {
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* line 447, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#bracketCurrent {
  position: relative;
  height: 70px;
  top: 8px;
}

/* line 453, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#bracket {
  position: relative;
  height: 50px;
  top: 8px;
}

/* line 459, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#top {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #242625;
  z-index: 10000;
  color: #fff;
  text-align: right;
}

/* line 470, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#navEnglishDescription {
  color: #242625;
  margin-top: 8px;
  font-size: 26px;
  margin-right: 10px;
}

/* line 477, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.navBracket {
  position: relative;
  top: 6px;
  height: 30px;
}

/* line 483, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#navText {
  margin-top: -2px;
  font-size: 26px;
  margin-right: 10px;
}

/* line 489, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.navWhite {
  color: #fbf9e5;
  margin-left: -6px;
  margin-right: -4px;
}

/* line 495, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#navRed {
  color: #c00;
  margin-left: -6px;
  margin-right: -4px;
}

/* line 501, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#navigationEnglish {
  position: relative;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* line 507, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#bottom {
  height: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #242625;
  z-index: 10000;
}

/* line 516, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#space {
  position: relative;
  height: 30px;
  width: 100%;
}

/* line 522, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background1 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 600px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 540, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background2 {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 900px;
  background-color: #fbfae4;
}

/* line 551, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background3 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 1400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 569, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background4 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 1900px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 587, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background5 {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 2200px;
  background-color: #fbfae4;
}

/* line 598, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background6 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 2400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 617, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background7 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 3500px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 635, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background8 {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 3800px;
  background-color: #fbfae4;
}

/* line 646, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background9 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 4400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 665, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background10 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5000px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 683, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background11 {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5300px;
  background-color: #fbfae4;
}

/* line 694, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#background12 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5700px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 713, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#nameExplaination {
  text-align: center;
}

/* line 718, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#name {
  text-align: center;
  margin-top: 200px;
}

/* line 723, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#logo {
  margin-top: 100px;
  margin-bottom: 150px;
  text-align: center;
}

/* line 729, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#fish {
  text-align: center;
  width: 80%;
}

/* line 734, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#email {
  margin: 0px;
  left: 120px;
  top: 180px;
  /*margin-top: 150px;*/
  /*margin-left: 300px;*/
}

/* line 742, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#wenzi {
  text-align: left;
  width: 1.5em;
  float: right;
}

/* line 748, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.english {
  float: right;
  text-align: left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
}

/* line 759, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#shengmaodouImg {
  text-align: center;
  width: 50%;
}

/* line 764, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#shengmaodou:hover {
  color: #800;
}

/* line 768, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#projectNavigation:hover {
  color: #800;
}

/* line 771, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#memberNavigation:hover {
  color: #800;
}

/* line 774, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#blogNavigation:hover {
  color: #800;
}

/* line 777, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#managementNavigation:hover {
  color: #800;
}

/* line 780, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#cultureNavigation:hover {
  color: #800;
}

/* line 784, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#lofter:hover {
  color: #800;
}

/* line 788, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#tangWebsite:hover {
  color: #800;
}

/* line 792, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#marcusWebsite:hover {
  color: #800;
}

/* line 796, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#kawaharaWebsite {
  color: #800;
}

/* line 800, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#asamiWebsite {
  color: #800;
}

/* line 804, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#michaelWebsite {
  color: #800;
}

/* line 808, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#craigWebsite {
  color: #800;
}

/* line 811, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
#shouldBeRed {
  color: #800;
}

/* line 815, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card {
  width: 220px;
  height: 220px;
  float: left;
  padding: 10px;
  cursor: pointer;
}

/* line 823, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card_container {
  padding: 0 120px;
}

/* line 827, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .front {
  width: 100%;
  height: 100%;
}

/* line 832, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .back, .card .front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 839, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .back {
  background-color: white;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  padding: 50px 0;
  border: 1px;
  border-color: black;
}

/* line 849, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.short_title {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

/* line 855, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.short_title.middle {
  height: 19px;
  font-size: 19px;
  line-height: 19px;
}

/* line 861, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.name, .card div.short_name {
  margin-top: 20px;
  height: 60px;
  line-height: 40px;
}

/* line 868, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.long_title {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}

/* line 874, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.short_name {
  font-size: 60px;
  word-spacing: 0.2em;
}

/* line 879, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .short_title::before, .card .long_title::before {
  content: "";
  float: left;
  height: 100%;
  width: 10px;
  background: url(/assets/static_page/brackets/bracket2Left-7612504514c465adc9ff82996c540f71.png) no-repeat;
  background-size: 100% 100%;
}

/* line 888, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .short_title::before, .card .long_title::before {
  margin-left: 50px;
}

/* line 892, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .short_title::after, .card .long_title::after {
  margin-right: 50px;
}

/* line 896, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .short_title::after, .card .long_title::after {
  content: "";
  float: right;
  height: 100%;
  width: 10px;
  background: url(/assets/static_page/brackets/bracket2Right-4b30458d10f47cfb802f14da303e3989.png) no-repeat;
  background-size: 100% 100%;
}

/* line 905, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.name {
  font-size: 40pt;
}

/* line 909, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.name_en {
  font-size: 46px;
  margin-top: 20px;
  line-height: 35px;
}

/* line 915, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.en_small {
  font-size: 16pt;
  line-height: 16px;
}

/* line 920, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .en_very_small {
  font-size: 15px;
  margin-top: 5px;
}

/* line 925, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card .en_tall {
  font-size: 15px;
  margin-top: 5px;
}

/* line 930, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.desc {
  font-size: 22px;
  height: 22px;
  line-height: 22px;
}

/* line 936, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card div.long_desc {
  font-size: 20px;
  height: 20px;
  width: 90%;
  margin: 0 auto;
  line-height: 20px;
}

/* line 944, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(1) .front {
  background: url(/assets/static_page/member_1-bc22814198acdaf90e02b2603b056fb1.png) no-repeat;
  background-size: 100% 100%;
}

/* line 948, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(2) .front {
  background: url(/assets/static_page/member_2-dcabd14b4ca9c89d88951922ac331b29.png) no-repeat;
  background-size: 100% 100%;
}

/* line 952, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(3) .front {
  background: url(/assets/static_page/member_3-95d91ba1932a1322052cba180a9a6bad.png) no-repeat;
  background-size: 100% 100%;
}

/* line 956, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(4) .front {
  background: url(/assets/static_page/member_4-0d38eee5c439903c3da9c33ff186afa9.png) no-repeat;
  background-size: 100% 100%;
}

/* line 960, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(5) .front {
  background: url(/assets/static_page/member_5-054ad4ca45fe3c5dc3f9fafe146a0713.png) no-repeat;
  background-size: 100% 100%;
}

/* line 964, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(6) .front {
  background: url(/assets/static_page/member_6-afcd8ea23059e0d424dcf98fbc93b666.png) no-repeat;
  background-size: 100% 100%;
}

/* line 968, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(7) .front {
  background: url(/assets/static_page/member_7-ac2ea71f2da277463cab1fc38c5232e1.png) no-repeat;
  background-size: 100% 100%;
}

/* line 972, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(8) .front {
  background: url(/assets/static_page/member_8-5de314f5224551bb5693ed56518017d7.png) no-repeat;
  background-size: 100% 100%;
}

/* line 976, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
.card:nth-of-type(9) .front {
  background: url(/assets/static_page/member_9-43f40ae261036e7da9bef7b569ecb182.png) no-repeat;
  background-size: 100% 100%;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1170px) {
  /* line 983, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .card_container {
    padding: 0 80px;
  }

  /* line 987, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background2 {
    height: 800px;
  }

  /* line 991, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background3 {
    height: 300px;
    top: 1700px;
  }

  /* line 996, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background4 {
    display: none;
  }

  /* line 999, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background5 {
    display: none;
  }

  /* line 1002, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background6 {
    display: none;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1012, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background2 {
    height: 1300px;
    /*top:900px;*/
  }

  /* line 1017, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background3 {
    /*height: 300px;*/
    top: 2200px;
  }

  /* line 1022, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background4 {
    display: none;
  }

  /* line 1025, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background5 {
    display: none;
  }

  /* line 1028, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background6 {
    display: none;
  }

  /* line 1032, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  h1 {
    margin-right: 30px;
  }

  /* line 1036, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #bracketCurrent {
    display: none;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 1044, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .card_container {
    padding: 0 60px;
  }

  /* line 1048, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #bracketCurrent {
    display: none;
  }

  /* line 1052, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  h1 {
    font-size: 70px;
    margin-right: 30px;
  }

  /* line 1058, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #top {
    height: 30px;
  }

  /* line 1062, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #navText {
    font-size: 23px;
    margin-top: 1px;
  }

  /* line 1067, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  .navBracket {
    height: 20px;
    top: 3px;
  }

  /* line 1072, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #navEnglishDescription {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    top: 190px;
    left: 45%;
    text-align: left;
  }

  /* line 1085, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background2 {
    height: 1300px;
    /*top:900px;*/
  }

  /* line 1090, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background3 {
    /*height: 300px;*/
    top: 2200px;
  }

  /* line 1095, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background4 {
    display: none;
  }

  /* line 1098, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background5 {
    display: none;
  }

  /* line 1101, /Users/veetase/Workspace/smarto/app/assets/stylesheets/bixuange.scss.erb */
  #background6 {
    display: none;
  }
}
