.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  z-index: 2000;
  height: 10px;
  width: 0;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 80px;
  left: -50px;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.19999999999999996);
}
/*

 */

.pace {
  width: 200px;
  height: 200px;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  z-index: 2000;
  opacity: 0;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.pace.pace-active {
  opacity: 1;
}

.pace .pace-activity {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: url(/assets/static_page/loading.gif)  no-repeat;
  background-size: 100% 100%;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ...


*/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Kaiti TC,"楷体","楷体_GB2312",KaiTi_GB2312,KaiTi,STKaiti Regular,Adobe Kaiti Std R;
  color: #0f594d;
  background-color: white;
}

.footer {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #1c303b;
}

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: white;
}

#product-1{
  background-color: #d75455;
}

@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
    overflow-y: visible;
  }
}

a {
  color: #93a748;
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
  position: relative;
  height: 100%;
  background-color: #93a748;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.cd-header h1 {
  width: 90%;
  color: #f2e6cd;
  text-align: center;
  font-size: 2.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-content h2, .cd-content p{
  text-align: center;
  width: 1em;
  float: right;
}

.cd-content p{
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  color: #242625;
  margin-right: 1em;
}

@media only screen and (min-width: 768px) {
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-fixed-background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cd-fixed-background h2, .cd-fixed-background p {
  color: #f2e6cd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-fixed-background h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.cd-fixed-background p {
  line-height: 1.6;
  font-family: "Merriweather", serif;
}
.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 100% 0;
}

.cd-fixed-background.img-1 .cd-content::after {
  background: url(/assets/static_page/img-mobile-1.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-2 .cd-content::after {
  background: url(/assets/static_page/img-mobile-2.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-3 .cd-content::after {
  background: url(/assets/static_page/img-mobile-3.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-4 .cd-content::after {
  background: url(/assets/static_page/img-mobile-4.jpg) no-repeat;
  background-size: 100% 100%;
}
/*.cd-fixed-background.img-5 {
  background-color: #407e7c;
}*/
.cd-fixed-background.img-5 .cd-content::after {
  background: url(/assets/static_page/img-mobile-5.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-6 .cd-content::after {
  background: url(/assets/static_page/img-mobile-6.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-7 .cd-content::after {
  background: url(/assets/static_page/img-mobile-7.jpg) no-repeat;
  background-size: 100% 100%;
}

.cd-fixed-background.img-9 .cd-content::after {
  background: url(/assets/static_page/img-mobile-9.jpg) no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 768px) {
  .cd-fixed-background {
    height: 100%;
  }
  .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .cd-fixed-background p {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-fixed-background .cd-content::after {
    display: none !important;
  }
  .cd-fixed-background.img-1 {
    background-image: url(/assets/static_page/img-mobile-1.jpg);
    background-size: auto 100%;
    background-color: white;
  }

  .cd-fixed-background.img-2 {
    background-image: url(/assets/static_page/img-2.jpg);
  }
  .cd-fixed-background.img-3 {
    background-image: url(/assets/static_page/img-3.jpg);
  }
  .cd-fixed-background.img-4 {
    background-image: url(/assets/static_page/img-4.jpg);
  }
  .cd-fixed-background.img-5 {
    background-image: url(/assets/static_page/img-5.jpg);
  }
  .cd-fixed-background.img-6 {
    background-image: url(/assets/static_page/img-6.jpg);
  }
  .cd-fixed-background.img-7 {
    background-image: url(/assets/static_page/img-7.jpg);
  }
  .cd-fixed-background.img-8 {
    background-image: url(/assets/static_page/img-8.jpg);
  }
  .cd-fixed-background.img-9 {
    background-image: url(/assets/static_page/img-9.jpg);
  }
}
@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  .cd-fixed-background .cd-content {
    width: 40%;
    left: 10%;
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 40%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(/assets/static_page/cd-icon-arrow.png) center center;
  background-size: 40px 40px;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}

.white a{
  background: transparent url(/assets/static_page/cd-icon-arrow-white.png) center center;
  background-size: 40px 40px;
}

.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}

.no-js .cd-vertical-nav {
  display: none;
}

.cd-product {
  position: relative;
  margin: 0 auto;
}
@media only screen and (min-width: 1170px) {
  .cd-product {
    padding-top: 50px;
    height: 100vh;
  }
  .cd-product.is-product-tour {
    height: auto;
    padding-bottom: 100px;
  }
}

.cd-product-intro {
  text-align: center;
}

.cd-product-intro::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-product-intro {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 200px;
    left: 0;
    width: 50%;
    padding: 0;
    text-align: left;
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    -moz-transition: -moz-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
  }
  .is-product-tour .cd-product-intro {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-product-intro h1 {
    font-size: 4rem;
  }
  .cd-product-intro p {
    color: red;
  }
  .cd-product-intro::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-product-mockup {
    width: 26%;
    /* set here the max-width for the mockup */
    max-width: 450px;
    margin: 0 auto 50px;
    position: relative;
  }
}

.no-csstransforms3d #cd-start {
  /* remove start button if CSS 3D Transforms are not supported */
  display: none;
}


.cd-product-mockup img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}

.cd-start{
  display: block;
  position: absolute;
  top: 30%;
  left:10%;
  width: 10%;
  height: 100%;
}

.link_cont{
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.link_block{
  display: block;
  margin: 0 auto;
  font-size: 30px;
  color: black;
  text-align: center;
}

.link_block::before
{
  content: "";
  display: inline-block;
  height: 18px;
  width: 10px;
  background: url(/assets/static_page/brackets/bracket2Left.png) no-repeat;
  background-size: 100% 100%;
}

.link_block::after
{
  content: "";
  display: inline-block;
  height: 18px;
  width: 10px;
  background: url(/assets/static_page/brackets/bracket2Right.png) no-repeat;
  background-size: 100% 100%;
}

#to_store{
  width: 140px;
}

#to_bixuange{
  width: 180px;
  margin-top: 30px;
}

#to_itunes{

}

@media only screen and (min-width: 1170px) {
  .cd-product-mockup {
    margin-bottom: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotateX(-60deg) rotateZ(-50deg) translateX(-300px) translateY(350px);
    -moz-transform: rotateX(-60deg) rotateZ(-50deg) translateX(-300px) translateY(350px);
    -ms-transform: rotateX(-60deg) rotateZ(-50deg) translateX(-300px) translateY(350px);
    -o-transform: rotateX(-60deg) rotateZ(-50deg) translateX(-300px) translateY(350px);
    transform: rotateX(-60deg) rotateZ(-50deg) translateX(-300px) translateY(350px);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
  }
  .cd-product-mockup::before {
    /* mockup shadow */
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    /* play with these values to create a realistic shadow */
    height: 50%;
    box-shadow: -110px -100px 30px 120px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateZ(-100px) translateY(480px);
    -moz-transform: translateZ(-100px) translateY(480px);
    -ms-transform: translateZ(-100px) translateY(480px);
    -o-transform: translateZ(-100px) translateY(480px);
    transform: translateZ(-100px) translateY(480px);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
  }
  .is-product-tour .cd-product-mockup {
    -webkit-transform: translateX(0) scale(1.05,1.05);
    -moz-transform: translateX(0) scale(1.05,1.05);
    -ms-transform: translateX(0) scale(1.05,1.05);
    -o-transform: translateX(0) scale(1.05,1.05);
    transform: translateX(0) scale(1.05,1.05);
  }
  .is-product-tour .cd-product-mockup::before {
    -webkit-transform: translateZ(-100px) translateX(226px) translateY(216px);
    -moz-transform: translateZ(-100px) translateX(226px) translateY(216px);
    -ms-transform: translateZ(-100px) translateX(226px) translateY(216px);
    -o-transform: translateZ(-100px) translateX(226px) translateY(216px);
    transform: translateZ(-100px) translateX(226px) translateY(216px);
  }
}

.no-csstransforms3d .cd-product:after {
  content: "";
  display: table;
  clear: both;
}
.no-csstransforms3d .cd-product-mockup {
  float: right;
}
.no-csstransforms3d .cd-product-mockup::before {
  display: none;
}

.cd-3d-right-side, .cd-3d-bottom-side {
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-3d-right-side, .cd-3d-bottom-side {
    display: block;
    position: absolute;
    left: 0;

    /* Firefox bug - 3D CSS transform, jagged edges */
    outline: 1px solid transparent;
  }



  .cd-3d-right-side::after, .cd-3d-bottom-side::after {
    /* darken the right/bottom sides */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .green::after{
    background: url(/assets/static_page/img-page-8.jpg);
  }
}

@media only screen and (min-width: 1170px) {
  .cd-3d-right-side {
    top: -1px;
    width: 5px;
    height: 100%;
    background-size: auto 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
    -moz-transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
    -ms-transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
    -o-transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
    transform: translateZ(-1px) translateY(1px) rotateY(-90deg);
  }

  .cd-3d-bottom-side {
    bottom: 0;
    width: 100%;
    height: 5px;
    background-position: bottom center;
    background-size: 100% auto;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateZ(-1px) rotateX(-90deg);
    -moz-transform: translateZ(-1px) rotateX(-90deg);
    -ms-transform: translateZ(-1px) rotateX(-90deg);
    -o-transform: translateZ(-1px) rotateX(-90deg);
    transform: translateZ(-1px) rotateX(-90deg);
  }
  .cd-3d-bottom-side::after {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.no-csstransforms3d .cd-3d-right-side, .no-csstransforms3d .cd-3d-bottom-side {
  display: none;
}

.cd-close-product-tour {
  /* close icon - product tour */
  display: none;
}
@media only screen and (min-width: 1170px) {
  .cd-close-product-tour {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: hidden;
  }
  .no-touch .cd-close-product-tour:hover {
    opacity: .8;
  }
  .cd-close-product-tour::after, .cd-close-product-tour::before {
    /* these are used to create the 'X' icon */
    content: '';
    height: 40px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
  }
  .cd-close-product-tour::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .cd-close-product-tour::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .cd-close-product-tour.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.cd-single-point {
  position: absolute;
  border-radius: 50%;
}
.cd-single-point > a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background: #ea4a55;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  z-index: 2;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-single-point > a::after, .cd-single-point > a:before {
  /* rotating plus icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-single-point > a::after {
  height: 2px;
  width: 12px;
}
.cd-single-point > a::before {
  height: 12px;
  width: 2px;
}
.cd-single-point::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}
.page-1 .cd-single-point:nth-of-type(1) {
  top: 36%;
  left: 32%;
}
.page-1 .cd-single-point:nth-of-type(2) {
  bottom: 5%;
  right: 9%;
}
.page-1 .cd-single-point:nth-of-type(3) {
  top: 88%;
  left: 14%;
}
.page-1 .cd-single-point:nth-of-type(4) {
  top: 60%;
  left: 25%;
}
.page-1 .cd-single-point:nth-of-type(5) {
  top: 6%;
  left: 76%;
}
.page-1 .cd-single-point:nth-of-type(6) {
  top: 8%;
  left: 29%;
}
.cd-single-point.is-open > a {
  background-color: #685f99;
}
.cd-single-point.is-open > a::after, .cd-single-point.is-open > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after {
  /* remove pulse effect */
  display: none;
}
.cd-single-point.is-open .cd-more-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point.visited > a {
  background-color: #685f99;
}
.cd-single-point.visited::after {
  /* pulse effect no more active on visited elements */
  display: none;
}

.cd-single-point .cd-more-info.cd-left {
  right: 100%;
}
.cd-single-point .cd-more-info.cd-right {
  left: 100%;
}
.cd-single-point .cd-more-info.cd-top {
  bottom: 100%;
}
.cd-single-point .cd-more-info.cd-bottom {
  top: 100%;
}
@media only screen and (min-width: 1170px) {
  .cd-single-point {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  .cd-product-mockup {
    width: 26%;
    max-width: 450px;
    margin: 0 auto 50px;
    position: relative;
  }

  .cd-single-point::after {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  .points-enlarged .cd-single-point {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-bounce 0.4s;
    -moz-animation: cd-bounce 0.4s;
    animation: cd-bounce 0.4s;
  }
  .points-pulsing .cd-single-point::after {
    -webkit-animation: cd-pulse 2s infinite;
    -moz-animation: cd-pulse 2s infinite;
    animation: cd-pulse 2s infinite;
  }
}

.no-csstransforms3d .cd-single-point {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes cd-bounce {
  0% {
    -webkit-transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce {
  0% {
    -moz-transform: scale(0);
  }
  60% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(234, 74, 85, 0);
  }
}
.cd-single-point .cd-more-info {
  position: absolute;
  z-index: 3;
  width: 120px;
  height: 80px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point .cd-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}
.cd-single-point .cd-more-info h2 {
  font-size: 2.2rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  margin-bottom: .6em;
}
.cd-single-point .cd-more-info p {
  color: #3d385a;
}
@media only screen and (max-width: 480px) {
  .cd-product-intro {
    padding: 0;
  }

  .cd-single-point .cd-more-info::before {
    display: block;
  }

  .cd-single-point .cd-more-info h2 {
    margin-bottom: 0;
  }
  .cd-single-point .cd-more-info p {
    font-size: 1.3rem;
  }

  .cd-product-mockup {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
  }

  .cd-content p {
    font-size: 20px;
    line-height: 20px;
    color: #242625;
    margin-right: 1em;
    width: 80%;
    float:none;
  }
}

.cd-close-info {
  /* close the interest point description - only on mobile */
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}
/*.cd-close-info::after, .cd-close-info:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  background-color: #ea4a55;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transition-property: transform 0.2s;
  -moz-transition-property: transform 0.2s;
  transition-property: transform 0.2s;
}*/
.cd-close-info::after {
  height: 2px;
  width: 16px;
}
.cd-close-info::before {
  height: 16px;
  width: 2px;
}
@media only screen and (min-width: 480px) {
  .cd-close-info {
    display: none;
  }
}

@media only screen and (max-width: 480px){
  .cd-fixed-background.img-8 .cd-product-mockup::after {
    background: url(/assets/static_page/img-mobile-8.jpg) no-repeat;
    background-size: 100% 100%;
  }
  #mockup-image{
    display: none;
  }

  .page-1 .cd-single-point:nth-of-type(1) {
    top: 56%;
    left: 36%;
  }

  .page-1 .cd-single-point:nth-of-type(2) {
    bottom: 10%;
    right: 26%;
  }

  .page-1 .cd-single-point:nth-of-type(3) {
    top: 85%;
    left: 29%;
  }

  .page-1 .cd-single-point:nth-of-type(4) {
    top: 68%;
    left: 32%;
  }

  .page-1 .cd-single-point:nth-of-type(5) {
    top: 37%;
    left: 64%;
  }

  .page-1 .cd-single-point:nth-of-type(6) {
    top: 37%;
    left: 35%;
  }

  .cd-fixed-background .cd-product-mockup::after {
    /* phone image on small devices */
    content: '';
    display: block;
    width: 100%;
    padding: 100% 0;
  }

}

@media only screen and (max-width: 1170px) {
  .cd-product-mockup {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
  }

  .cd-fixed-background.img-8 {
    background-image: none;
  }

  .cd-product-mockup {
    height: 100%;
  }

  .img-9 .cd-content{
    display: none;
  }

  .img-9{
    height: 100%
  }

  #to_store{
    top: 21%;
    padding: 0;
  }

  #to_bixuange{
    top: 45%;
  }

  #to_itunes{
    top: 72%;
  }
}
/*


 */

