<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, minimal-ui" />
	<meta name="description" content="">
	<meta name="author" content="Tang Yang">
	<link rel="image_src" href="/assets/static_page/thumb.png" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/static_page/b-icon-16.png" sizes="16x16" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/static_page/b-icon-32.png" sizes="32x32" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/static_page/b-icon-48.png" sizes="48x48" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/static_page/b-icon-96.png" sizes="96x96" />
	<link rel="shortcut icon" type="image/x-icon" href="/assets/static_page/b-icon-192.png" sizes="192x192" />
	<link rel="apple-touch-icon" type="image/png" href="/assets/static_page/thumb.png" />
	<link rel="stylesheet" media="screen" href="/assets/bixuange.css" />
	<script src="/assets/bixuange.js"></script>
	<title>贔玄阁</title>
</head>
<body>
	<div id="top">
		<div id="navText">
			 <a href="#brief">
				<span class="navWhite">阁之</span>
			 </a>
			 &nbsp;
			 <a href="#project">
				<img class="navBracket" id="projectNavTopBracketLeft" src="/assets/static_page/brackets/bracket2LeftWhite.png" alt="Bracket2leftwhite" />
				<span class="navWhite" id="projectNavTopText" >器</span>
				<img class="navBracket" id="projectNavTopBracketRight" src="/assets/static_page/brackets/bracket2RightWhite.png" alt="Bracket2rightwhite" />
			 </a>
			 &nbsp;
			 <a href="#member">
				<img class="navBracket" id="memberNavTopBracketLeft" src="/assets/static_page/brackets/bracket2LeftWhite.png" alt="Bracket2leftwhite" />
				<span class="navWhite" id="memberNavTopText" >将</span>
				<img class="navBracket" id="memberNavTopBracketRight" src="/assets/static_page/brackets/bracket2RightWhite.png" alt="Bracket2rightwhite" />
			 </a>
			 &nbsp;
			 <a href="#blog">
				<img class="navBracket" id="blogNavTopBracketLeft" src="/assets/static_page/brackets/bracket2LeftWhite.png" alt="Bracket2leftwhite" />
				<span class="navWhite" id="blogNavTopText" >著</span>
				<img class="navBracket" id="blogNavTopBracketRight" src="/assets/static_page/brackets/bracket2RightWhite.png" alt="Bracket2rightwhite" />
			 </a>
 			&nbsp;
			 <a href="#management">
				<img class="navBracket" id="managementNavTopBracketLeft" src="/assets/static_page/brackets/bracket2LeftWhite.png" alt="Bracket2leftwhite" />
				<span class="navWhite" id="managementNavTopText" >治</span>
				<img class="navBracket" id="managementNavTopBracketRight" src="/assets/static_page/brackets/bracket2RightWhite.png" alt="Bracket2rightwhite" />
			</a>
			&nbsp;
			 <a href="#culture">
				<img class="navBracket" id="cultureNavTopBracketLeft" src="/assets/static_page/brackets/bracket2LeftWhite.png" alt="Bracket2leftwhite" />
				<span class="navWhite" id="cultureNavTopText" >本</span>
				<img class="navBracket" id="cultureNavTopBracketRight" src="/assets/static_page/brackets/bracket2RightWhite.png" alt="Bracket2rightwhite" />
			</a>
		</div>
		<div id="navEnglishDescription"> </div>
	</div>
	<div id="bottom"></div>
	<div id="brief"></div>
	<div id="background1"></div>
	<div id="background2"></div>
	<div id="background3"></div>
	<div id="background4"></div>
	<div id="background5"></div>
	<div id="background6"></div>
	<div id="background7"></div>
	<div id="background8"></div>
	<div id="background9"></div>
	<div id="background10"></div>
	<div id="background11"></div>
	<div id="background12"></div>

	<div class="container">

		<!-- ============= -->
		<!-- ====BRIEF==== -->
		<!-- ============= -->
		<div class="fourteen columns offset-by-one">
			<div id="name"> <img src="/assets/static_page/name.png" alt="Name" /> </div>
			<div id="logo"> <img height="250px" width="250px" src="/assets/static_page/mascot.png" alt="Mascot" /> </div>

			<div id="nameExplaination">
				<h1 id="wenzi">赑</h1>
				<p id="wenzi">巨灵赑屃 &nbsp; 首冠灵山</p>
				<p id="wenzi">高掌远跖 &nbsp; 以流河曲</p>
				<p id="wenzi">厥迹犹存 &nbsp; 作力之貌也</p>
				<h1 id="wenzi">玄</h1>
				<p id="wenzi">黑而有赤色者为玄</p>
				<p id="wenzi">幽远也◎象幽而入复之也</p>
				<h1 id="wenzi">阁</h1>
				<p id="wenzi">阁◎人所安定也 &nbsp;</p>
				<p id="wenzi">停也◎亦人所停集也</p>

			</div>
		</div>

		<div class="fourteen columns offset-by-one">
			<div id="nameExplaination">
				<div id="space"></div>
				<div id="space"></div>


				<!-- ============= -->
				<!-- =NAVIGATION== -->
				<!-- ============= -->

				<!-- Navigation1 -->
				<a href="#project">
					<div id="projectNavigation">
						<h2>
							<img id="bracket" src="/assets/static_page/brackets/bracket2Left.png" alt="Bracket2left" />
							&nbsp;督造象<span id="redText">器</span>&nbsp;
							<img id="bracket" src="/assets/static_page/brackets/bracket2Right.png" alt="Bracket2right" />
						</h2>
						PROJECT
					</div>
				</a>
				<div id="space"></div>
				<!-- Navigation2 -->
				<a href="#member">
					<div id="memberNavigation">
						<h2>
							<img id="bracket" src="/assets/static_page/brackets/bracket2Left.png" alt="Bracket2left" />
							&nbsp;<span id="redText">将</span>校名录&nbsp;
							<img id="bracket" src="/assets/static_page/brackets/bracket2Right.png" alt="Bracket2right" />
						</h2>
						MEMBER & CONTACT
					</div>
				</a>
				<div id="space"></div>
				<!-- Navigation3 -->
				<a href="#blog"督造象>
					<div id="blogNavigation">
						<h2>
							<img id="bracket" src="/assets/static_page/brackets/bracket2Left.png" alt="Bracket2left" />
							&nbsp;编<span id="redText">著</span>撰册&nbsp;
							<img id="bracket" src="/assets/static_page/brackets/bracket2Right.png" alt="Bracket2right" />
						</h2>
						BLOG & SUBSCRIBE
					</div>
				</a>
				<div id="space"></div>
				<!-- Navigation4 -->
				<a href="#management">
					<div id="managementNavigation">
						<h2>
							<img id="bracket" src="/assets/static_page/brackets/bracket2Left.png" alt="Bracket2left" />
							&nbsp;人和之<span id="redText">治</span>&nbsp;
							<img id="bracket" src="/assets/static_page/brackets/bracket2Right.png" alt="Bracket2right" />
						</h2>
						MANAGEMENT
					</div>
				</a>
				<div id="space"></div>
				<!-- Navigation5 -->
				<a href="#culture">
					<div id="cultureNavigation">
						<h2>
							<img id="bracket" src="/assets/static_page/brackets/bracket2Left.png" alt="Bracket2left" />
							&nbsp;源起始<span id="redText">本</span>&nbsp;
							<img id="bracket" src="/assets/static_page/brackets/bracket2Right.png" alt="Bracket2right" />
						</h2>
						CULTURE
					</div>
				</a>


				<div id="space"></div>
				<div id="space"></div>
				<div id="space"></div>
				<div id="space"></div>
				<div id="space"></div>
				<img id="fish" src="/assets/static_page/fish.png" alt="Fish" />
				<div id="space"></div>


				<!-- ============= -->
				<!-- ===PROJECT=== -->
				<!-- ============= -->
				<div id="project">
					<div id="space"></div>
					<div id="space"></div>
					<h1>
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Left.png" alt="Bracket1left" />
						&nbsp;督造象<span id="redText">器</span>&nbsp;
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Right.png" alt="Bracket1right" />
					</h1>
					<div id="space"></div>
					<div id="space"></div>
					<a href="http://shengmaodou.com">
						<div id="shengmaodou">
							<h2 id="shengmaodouText"> 生毛豆</h2>
							<div id="space"></div>
							<div id="space"></div>
							<img id="shengmaodouImg" src="/assets/static_page/thermodo.png" alt="Thermodo" />
						</div>
					</a>
				</div>

				<!-- ============= -->
				<!-- ====MEMBER=== -->
				<!-- ============= -->

				<div id="member">
					<div id="space"></div>
					<div id="space"></div>
					<h1>
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Left.png" alt="Bracket1left" />
						&nbsp;<span id="redText">将</span>校名录&nbsp;
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Right.png" alt="Bracket1right" />
					</h1>
					<div class= "card_container">
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title"> <span>工部尚书</span></div>
								<div class="short_name">汤 洋</div>
								<div class="en_tall"><a href="http://tang.ninja">http://tang.ninja</a></div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title">兵部尚书</div>
								<div class="short_name">许 磊</div>
								<div class="desc">停车场指挥员</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title">户部尚书</div>
								<div class="short_name">何 耀</div>
								<div class="desc">Bull Smith</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title middle">工部司郎中</div>
								<div class="name_en">Marcus</div>
								<div class="en_small">Weyreuther</div>
								<div class="en_very_small"><a href="http://brokenthes.is">http://brokenthes.is</a></div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title middle">工部司郎中</div>
								<div class="name">黄勤劲</div>
								<div class="long_desc">中科院电子电路</div>
								<div class="long_desc">工程博士</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="long_title">工部水部司郎中</div>
								<div class="name">孙冰峰</div>
								<div class="desc">开发毁一生</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="long_title">工部屯田司郎中</div>
								<div class="name">王广星</div>
								<div class="desc">程序穷三代</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="long_title">工部虞部司郎中</div>
								<div class="short_name">郑 川</div>
								<div class="long_desc">珍爱生命</div>
								<div class="long_desc">远离设计</div>
							</div>
						</div>
						<div class="card">
							<div class="front"></div>
							<div class="back">
								<div class="short_title middle">礼部司郎中</div>
								<div class="name">程文静</div>
								<div class="long_desc">我想一个人</div>
								<div class="long_desc">静一静</div>
							</div>
						</div>
					</div>
					<div id="space" style="clear: both;"></div>
					<div id="space"></div>
						<div id="shouldBeRed">
							<h2>联系我们</h2>
							<h3>Hello@BiXuanGe.Com</h3>
						</div>
					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>
						<h2>顾问</h2>
						<div id="space"></div>
						<div id="space"></div>
						<h3>技术指导</h3>
						<h5>Yoshihiro Kawahara</h5>
						<h5>东京大学电子情报学副教授</h5>
						<h5>麻省理工多媒体实验室副教授</h5>
						<a id="kawaharaWebsite" href="http://kawahara.akg.t.u-tokyo.ac.jp/"><h5>详细资料</h5></a>
						<div id="space"></div>
						<div id="space"></div>
						<h3>技术指导</h3>
						<h5>Tohru Asami</h5>
						<h5>东京大学电子情报学教授</h5>
						<h5>KDDISOL前代表取缔役社长</h5>
						<a id="asamiWebsite" href="http://www.akg.t.u-tokyo.ac.jp/~asami/"><h5>详细资料</h5></a>
						<div id="space"></div>
						<div id="space"></div>
						<h3>技术指导</h3>
						<h5>Michael Kai Petersen</h5>
						<h5>丹麦科技大学应用数学与计算机科学系副教授</h5>
						<a id="michaelWebsite" href="http://www.dtu.dk/english/Service/Phonebook/Person?id=16868&tab=1"><h5>详细资料</h5></a>
						<div id="space"></div>
						<div id="space"></div>
						<h3>商业指导</h3>
						<h5>Craig Will</h5>
						<h5>Mapmotion CEO</h5>
						<h5>Palm前亚洲区总裁</h5>
						<a id="craigWebsite" href="http://en.mapmotion.jp/?page_id=29"><h5>详细资料</h5></a>
					<div id="space"></div>
					<div id="space"></div>
				</div>

				<!-- ============= -->
				<!-- =====BLOG==== -->
				<!-- ============= -->
				<div id="blog">
					<div id="space"></div>
					<div id="space"></div>
					<h1>
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Left.png" alt="Bracket1left" />
						&nbsp;编<span id="redText">著</span>撰册&nbsp;
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Right.png" alt="Bracket1right" />
					</h1>
					<div id="space"></div>
					<a id="lofter" href="http://bixuange.lofter.com/"> <h2>LOFETER</h2> </a>
					<div id="space"></div>
					<div id="space"></div>
						<h2>微博</h2>
						<h3>@贔玄阁</h3>
					<div id="space"></div>
					<div id="space"></div>
						<h2>微信</h2>
<div id="space"></div>
						<h3>
							<img src="/assets/static_page/QR.jpg" alt="Qr" />
						</h3>
					<div id="space"></div>

					<div id="space"></div>
						<h2>媒体 & 活动</h2>
						<div id="space"></div>
						<div id="space"></div>

						<!-- 高交会 -->
						<a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwNjE1MzY4Mw==&mid=201798014&idx=1&sn=104b9ca8bfec9e5aa8151d16b6ccb6fb&scene=0#rd">
							<img class="mediaPNG" src="/assets/static_page/media/1.png" alt="1" />
						</a>

						<!-- 人民日报 -->
						<a target="_blank" href="http://sz.people.com.cn/n/2014/1128/c202846-23038084.html">
							<img class="mediaPNG" src="/assets/static_page/media/10.png" alt="10" />
						</a>

						<!-- 深圳广电集团 -->
						<a target="_blank" href="http://www.letv.com/ptv/vplay/21558357.html">
							<img class="mediaPNG" src="/assets/static_page/media/14.png" alt="14" />
						</a>

						<!-- 经济日报 -->
						<a target="_blank" href="http://www.siat.ac.cn/xwzx/mtbd/201411/t20141119_4255563.html">
							<img class="mediaPNG" src="/assets/static_page/media/4.png" alt="4" />
						</a>

						<!-- 经济观察报 -->
						<img class="mediaPNG" src="/assets/static_page/media/5.png" alt="5" />

						<!-- 深圳商报 -->
						<a target="_blank" href="http://www.siat.ac.cn/xwzx/mtbd/201411/t20141124_4257511.html">
							<img class="mediaPNG" src="/assets/static_page/media/6.png" alt="6" />
						</a>

						<!-- 大沙拉 -->
						<img class="mediaPNG" src="/assets/static_page/media/7.png" alt="7" />

						<!-- 深圳新闻网 -->
						<a target="_blank" href="http://news.sznews.com/content/2014-12/11/content_10850447.htm">
							<img class="mediaPNG" src="/assets/static_page/media/8.png" alt="8" />
						</a>

						<!-- 新华社 -->
						<a target="_blank" href="/assets/static_page/media/references/2.jpg">
							<img class="mediaPNG" src="/assets/static_page/media/2.png" alt="2" />
						</a>

						<!-- 深圳特区报 -->
						<a target="_blank" href="http://www.siat.ac.cn/xwzx/mtbd/201411/t20141124_4257589.html">
							<img class="mediaPNG" src="/assets/static_page/media/11.png" alt="11" />
						</a>

						<!-- startUpWeekend -->
						<a target="_blank" href="/assets/static_page/media/references/12.jpg">
							<img class="mediaPNG" src="/assets/static_page/media/12.png" alt="12" />
						</a>

						<!-- 羊城晚报 -->
						<a target="_blank" href="http://www.siat.ac.cn/xwzx/mtbd/201411/t20141125_4258114.html">
							<img class="mediaPNG" src="/assets/static_page/media/13.png" alt="13" />
						</a>

						<!-- 开源创客坊 -->
						<a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5NzExODU5NA==&mid=202688152&idx=1&sn=992549f9a23e024d04e353aa357d4e2b&scene=0#rd">
							<img class="mediaPNG" src="/assets/static_page/media/15.png" alt="15" />
						</a>

					<div id="space"></div>
					<div id="space"></div>
				</div>

				<!-- ============= -->
				<!-- ==MANAGEMENT= -->
				<!-- ============= -->
				<div id="management">
					<div id="space"></div>
					<div id="space"></div>
					<h1>
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Left.png" alt="Bracket1left" />
						&nbsp;人和之<span id="redText">治</span>&nbsp;
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Right.png" alt="Bracket1right" />
					</h1>
					<div id="space"></div>
					<h4>◎于己者</h4>
					<h4>可有尺寸之地聚吾同道之人</h4>
					<h4>可于方寸之间行吾所长</h4>
					<h4>可于有生之年为吾所爱</h4>
					<h4>◎于世者</h4>
					<h4>可展吾之至爱者于他人</h4>
					<h4>可传华夏之文化于环宇</h4>

					<div id="space"></div>
					<div id="space"></div>
				</div>


				<!-- ============= -->
				<!-- ===CULTURE=== -->
				<!-- ============= -->
				<div id="culture">
					<div id="space"></div>
					<div id="space"></div>
					<h1>
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Left.png" alt="Bracket1left" />
						&nbsp;源起始<span id="redText">本</span>&nbsp;
						<img id="bracketCurrent" src="/assets/static_page/brackets/bracket1Right.png" alt="Bracket1right" />
					</h1>
					<div id="space"></div>
					<h4>巨灵赑屃 首冠灵山</h4>
					<h4>高掌远跖 以流河曲</h4>
					<h4>厥迹犹存 作力之貌</h4>
					<h4>古有龟蛇 名曰霸下</h4>
					<h4>霸下之大 不知其几千里</h4>
					<h4>且夫壳之坚也不足 则其负大身也无力</h4>
					<h4>性好静 不为浮华所扰 不为荣名所动</h4>
					<h4>碑趺象之 含蓄内敛</h4>
					<h4>至劲者强 至宝者贵</h4>
					<h4>龟鳄齐力至劲 三贝成赑至宝</h4>
					<div id="space"></div>
					<h4>幽远也 黑而有赤色者为玄</h4>
					<h4>象幽而入复之也</h4>
					<h4>玄 大也</h4>
					<h4>古有神兽玄武</h4>
					<h4>其远志非圣贤难解</h4>
					<h4>其心恒如泰山不移</h4>
					<h4>不以物之兴衰而改</h4>
					<h4>不随人之喜憎而迁</h4>
					<h4>虚无飘渺谓之幽</h4>
					<h4>宽大悠远名曰玄</h4>
					<h4>其智谋邃如玄湖</h4>
					<h4>其心胸广若深谷</h4>
					<h4>古云天圆地方</h4>
					<h4>愿取天地之灵息</h4>
					<div id="space"></div>
					<h4>阁者 安定之所也</h4>
					<h4>亭者 停集之地也</h4>
					<h4>以人各行其爱而为人所爱</h4>
					<div id="space"></div>
					<h4>铸以此</h4>
					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>

					<div id="logo"> <img height="250px" width="250px" src="/assets/static_page/mascot.png" alt="Mascot" /> </div>

					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>
					<div id="space"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
				Copyright<i style="font-family:MicroSoft YaHei;font-size:10px;padding:0 3px;">©</i>2014-2017 ｜ 深圳市赑玄阁科技有限公司版权所有 | 粤ICP备15012844号
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63755014-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
