html, body{
    height:100%;
    margin: 0;
}

.jing{
	height:250px;
	width:800px;
	position:absolute;
	margin:-150px 0 0 -425px;
  left:50%; top:45%;
  background-image: url("images/caidan.jpg");
  background-size: 100% 100%;
}

.vedio_link{
  display: block;
  width: 133px;
  margin: 0 auto;
}

.link_block {
    font-size: 20px;
    color: black;
    width: 170px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 10px 0 0 -85px;
}
.link_block a {
    display: inline-block;
    width: 120px;
    height: 20px;
    border-bottom: solid 1px #000000;
    cursor: pointer;
    text-decoration: none;
}

.bracket{
  display: inline-block;
  position: relative;
  top: 6px;
  height: 25px;
  width: 12px;
}
.bracket_left {
    background: url(//7xj6xc.com2.z0.glb.qiniucdn.com/assets/static_page/brackets/bracket2Left-ce911a83b7d20c6e481a93ebf6ba058c.png) no-repeat;
    background-size: 100% 100%;
}
.bracket_right {
    background: url(//7xj6xc.com2.z0.glb.qiniucdn.com/assets/static_page/brackets/bracket2Right-5008f4985c0bb4d0ed414ff8552604ee.png) no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 736px) {
	.jing{
	    height: 802px;
	    width:133px;
	    position: static;
	    margin: 0 auto;
	    left: none;
	    top: none;
	    background-image:url("images/caidan_mobile.jpg");
	    background-size: auto;
	}
}
