@charset "UTF-8";
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
/* line 26, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 27, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 29, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.row {
  margin-bottom: 20px;
}

/* Nested Column Classes */
/* line 32, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 33, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 36, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .one.column,
.container .one.columns {
  width: 40px;
}

/* line 38, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .two.columns {
  width: 100px;
}

/* line 39, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .three.columns {
  width: 160px;
}

/* line 40, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .four.columns {
  width: 220px;
}

/* line 41, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .five.columns {
  width: 280px;
}

/* line 42, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .six.columns {
  width: 340px;
}

/* line 43, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .seven.columns {
  width: 400px;
}

/* line 44, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .eight.columns {
  width: 460px;
}

/* line 45, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .nine.columns {
  width: 520px;
}

/* line 46, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .ten.columns {
  width: 580px;
}

/* line 47, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .eleven.columns {
  width: 640px;
}

/* line 48, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .twelve.columns {
  width: 700px;
}

/* line 49, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .thirteen.columns {
  width: 760px;
}

/* line 50, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .fourteen.columns {
  width: 820px;
}

/* line 51, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .fifteen.columns {
  width: 880px;
}

/* line 52, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .sixteen.columns {
  width: 940px;
}

/* line 54, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .one-third.column {
  width: 300px;
}

/* line 55, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .two-thirds.column {
  width: 620px;
}

/* Offsets */
/* line 58, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-one {
  padding-left: 60px;
}

/* line 59, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-two {
  padding-left: 120px;
}

/* line 60, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-three {
  padding-left: 180px;
}

/* line 61, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-four {
  padding-left: 240px;
}

/* line 62, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-five {
  padding-left: 300px;
}

/* line 63, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-six {
  padding-left: 360px;
}

/* line 64, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-seven {
  padding-left: 420px;
}

/* line 65, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-eight {
  padding-left: 480px;
}

/* line 66, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-nine {
  padding-left: 540px;
}

/* line 67, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-ten {
  padding-left: 600px;
}

/* line 68, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-eleven {
  padding-left: 660px;
}

/* line 69, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-twelve {
  padding-left: 720px;
}

/* line 70, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-thirteen {
  padding-left: 780px;
}

/* line 71, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-fourteen {
  padding-left: 840px;
}

/* line 72, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container .offset-by-fifteen {
  padding-left: 900px;
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 82, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container {
    width: 768px;
  }

  /* line 83, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 85, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  /* line 86, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 87, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 89, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }

  /* line 91, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .two.columns {
    width: 76px;
  }

  /* line 92, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .three.columns {
    width: 124px;
  }

  /* line 93, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .four.columns {
    width: 172px;
  }

  /* line 94, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .five.columns {
    width: 220px;
  }

  /* line 95, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .six.columns {
    width: 268px;
  }

  /* line 96, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .seven.columns {
    width: 316px;
  }

  /*.container .eight.columns                   { width: 364px; }*/
  /* line 99, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .nine.columns {
    width: 412px;
  }

  /* line 100, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .ten.columns {
    width: 460px;
  }

  /* line 101, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .eleven.columns {
    width: 508px;
  }

  /* line 102, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .twelve.columns {
    width: 556px;
  }

  /* line 103, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .thirteen.columns {
    width: 604px;
  }

  /* line 104, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .fourteen.columns {
    width: 652px;
  }

  /* line 105, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .fifteen.columns {
    width: 700px;
  }

  /* line 106, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .sixteen.columns {
    width: 748px;
  }

  /* line 108, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .one-third.column {
    width: 236px;
  }

  /* line 109, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .two-thirds.column {
    width: 492px;
  }

  /* Offsets */
  /* line 112, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-one {
    padding-left: 48px;
  }

  /* line 113, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-two {
    padding-left: 96px;
  }

  /* line 114, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-three {
    padding-left: 144px;
  }

  /* line 115, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-four {
    padding-left: 144px;
  }

  /* line 116, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-five {
    padding-left: 240px;
  }

  /* line 117, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-six {
    padding-left: 288px;
  }

  /* line 118, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-seven {
    padding-left: 336px;
  }

  /* line 119, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-eight {
    padding-left: 384px;
  }

  /* line 120, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-nine {
    padding-left: 432px;
  }

  /* line 121, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-ten {
    padding-left: 480px;
  }

  /* line 122, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-eleven {
    padding-left: 528px;
  }

  /* line 123, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-twelve {
    padding-left: 576px;
  }

  /* line 124, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-thirteen {
    padding-left: 624px;
  }

  /* line 125, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-fourteen {
    padding-left: 672px;
  }

  /* line 126, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 136, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container {
    width: 380px;
  }

  /* line 137, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 140, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 380px;
  }

  /* line 160, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .four.columns {
    width: 190px;
  }

  /* Offsets */
  /* line 164, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 189, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container {
    width: 420px;
  }

  /* line 190, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .columns,
  .container .column {
    margin: 0;
  }

  /* line 193, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }

  /* line 213, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .container .four.columns {
    width: 210px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 222, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 226, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 236, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 239, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 244, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
        Just create a "fonts" folder at the root,
        copy your FontName into code below and remove
        comment brackets */
/*  @font-face {
        font-family: 'FontName';
        src: url('../fonts/FontName.eot');
        src: url('../fonts/FontName.eot?iefix') format('eot'),
             url('../fonts/FontName.woff') format('woff'),
             url('../fonts/FontName.ttf') format('truetype'),
             url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
        font-weight: normal;
        font-style: normal; }
*/
/*@font-face {*/
/*font-family: 'KaitiTC1'; */
/*src: url('../font/kaitiTC.TTF'); */
/*}*/
/* line 320, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
body {
  font-family: Kaiti TC,"楷体","楷体_GB2312",KaiTi_GB2312,KaiTi,STKaiti Regular,Adobe Kaiti Std R;
  font-size: 18px;
  font-size: 18.5px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #242625;
  background: #FDFDFB;
  /*background-image:url('../img/background1.png');*/
  padding: 0;
  margin: 0px;
}

/* line 333, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
h1 {
  font-size: 80px;
  line-height: 70px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 30px;
}

/* line 342, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
h2 {
  font-size: 55px;
  font-weight: 600;
  margin: 0px;
}

/* line 349, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
h3 {
  margin: 0px;
  margin-top: 15px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

/* line 358, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
h4 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px;
}

/* line 365, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
h5 {
  margin: 0px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

/* line 372, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
a {
  color: #242625;
  text-decoration: none;
}

/* line 377, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
p {
  /*margin-right: 10px;*/
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  color: #242625;
  z-index: 5;
}

/* line 386, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
body > a > img {
  opacity: 0;
}

/* line 390, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.mediaPNG {
  height: 70px;
  margin: 20px;
  margin-top: 0px;
}

/* line 396, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#status {
  display: none;
  /* for preloader */
  width: 100%;
  height: 100%;
  position: fixed;
  /*background-image:url(../images/preloader.png);*/
  /*background-repeat: repeat;*/
  background-color: #c8ba88;
  z-index: 100000;
}

/* line 407, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.preLoderText {
  display: none;
  display: block;
  position: fixed;
  top: 13%;
  right: 0.5rem;
  content: attr(data-progress-text);
  /*font-family: "Helvetica Neue", sans-serif;*/
  font-weight: 100;
  font-size: 24px;
  line-height: 1;
  text-align: right;
  color: #8f3d37;
}

/* line 422, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo1 {
  top: 14%;
}

/* line 423, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo2 {
  top: 17%;
}

/* line 424, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo3 {
  top: 20%;
}

/* line 425, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo4 {
  top: 23%;
}

/* line 426, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo5 {
  top: 26%;
}

/* line 427, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo6 {
  top: 29%;
}

/* line 428, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo7 {
  top: 32%;
}

/* line 429, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo8 {
  top: 35%;
}

/* line 430, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#preloderInfo9 {
  top: 38%;
}

/* line 432, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#redText {
  color: #800;
}

/* line 436, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#choosenTag {
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* line 441, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#bracketCurrent {
  position: relative;
  height: 70px;
  top: 8px;
}

/* line 447, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#bracket {
  position: relative;
  height: 50px;
  top: 8px;
}

/* line 453, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#top {
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #242625;
  z-index: 10000;
  color: #fff;
  text-align: right;
}

/* line 464, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#navEnglishDescription {
  color: #242625;
  margin-top: 8px;
  font-size: 26px;
  margin-right: 10px;
}

/* line 471, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.navBracket {
  position: relative;
  top: 6px;
  height: 30px;
}

/* line 477, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#navText {
  margin-top: -2px;
  font-size: 26px;
  margin-right: 10px;
}

/* line 483, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.navWhite {
  color: #fbf9e5;
  margin-left: -6px;
  margin-right: -4px;
}

/* line 489, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#navRed {
  color: #c00;
  margin-left: -6px;
  margin-right: -4px;
}

/* line 495, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#navigationEnglish {
  position: relative;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* line 501, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#bottom {
  height: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #242625;
  z-index: 10000;
}

/* line 510, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#space {
  position: relative;
  height: 30px;
  width: 100%;
}

/* line 516, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background1 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 600px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 534, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background2 {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 900px;
  background-color: #fbfae4;
}

/* line 545, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background3 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 1400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 563, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background4 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 1900px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 581, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background5 {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 2200px;
  background-color: #fbfae4;
}

/* line 592, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background6 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 2400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 611, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background7 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 3500px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 629, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background8 {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 3800px;
  background-color: #fbfae4;
}

/* line 640, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background9 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 4400px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 659, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background10 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5000px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #fbfae4 50%, #FDFDFB 0%);
}

/* line 677, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background11 {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5300px;
  background-color: #fbfae4;
}

/* line 688, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#background12 {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -3;
  margin: 0px;
  padding: 0px;
  top: 5700px;
  /*css Background pattern*/
  background: linear-gradient(to top left, #FDFDFB 50%, #fbfae4 0%);
}

/* line 707, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#nameExplaination {
  text-align: center;
}

/* line 712, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#name {
  text-align: center;
  margin-top: 200px;
}

/* line 717, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#logo {
  margin-top: 100px;
  margin-bottom: 150px;
  text-align: center;
}

/* line 723, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#fish {
  text-align: center;
  width: 80%;
}

/* line 728, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#email {
  margin: 0px;
  left: 120px;
  top: 180px;
  /*margin-top: 150px;*/
  /*margin-left: 300px;*/
}

/* line 736, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#wenzi {
  text-align: left;
  width: 1.5em;
  float: right;
}

/* line 742, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
.english {
  float: right;
  text-align: left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
}

/* line 753, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#shengmaodouImg {
  text-align: center;
  width: 50%;
}

/* line 758, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#shengmaodou:hover {
  color: #800;
}

/* line 762, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#projectNavigation:hover {
  color: #800;
}

/* line 765, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#memberNavigation:hover {
  color: #800;
}

/* line 768, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#blogNavigation:hover {
  color: #800;
}

/* line 771, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#managementNavigation:hover {
  color: #800;
}

/* line 774, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#cultureNavigation:hover {
  color: #800;
}

/* line 778, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#lofter:hover {
  color: #800;
}

/* line 782, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#tangWebsite:hover {
  color: #800;
}

/* line 786, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#marcusWebsite:hover {
  color: #800;
}

/* line 790, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#kawaharaWebsite {
  color: #800;
}

/* line 794, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#asamiWebsite {
  color: #800;
}

/* line 798, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#michaelWebsite {
  color: #800;
}

/* line 802, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#craigWebsite {
  color: #800;
}

/* line 805, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
#shouldBeRed {
  color: #800;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 814, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background2 {
    height: 800px;
  }

  /* line 818, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background3 {
    height: 300px;
    top: 1700px;
  }

  /* line 823, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background4 {
    display: none;
  }

  /* line 826, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background5 {
    display: none;
  }

  /* line 829, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background6 {
    display: none;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 839, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background2 {
    height: 1300px;
    /*top:900px;*/
  }

  /* line 844, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background3 {
    /*height: 300px;*/
    top: 2200px;
  }

  /* line 849, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background4 {
    display: none;
  }

  /* line 852, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background5 {
    display: none;
  }

  /* line 855, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background6 {
    display: none;
  }

  /* line 859, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  h1 {
    margin-right: 30px;
  }

  /* line 863, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #bracketCurrent {
    display: none;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 872, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #bracketCurrent {
    display: none;
  }

  /* line 876, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  h1 {
    font-size: 70px;
    margin-right: 30px;
  }

  /* line 882, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #top {
    height: 30px;
  }

  /* line 886, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #navText {
    font-size: 23px;
    margin-top: 1px;
  }

  /* line 891, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  .navBracket {
    height: 20px;
    top: 3px;
  }

  /* line 896, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #navEnglishDescription {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    top: 190px;
    left: 45%;
    text-align: left;
  }

  /* line 909, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background2 {
    height: 1300px;
    /*top:900px;*/
  }

  /* line 914, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background3 {
    /*height: 300px;*/
    top: 2200px;
  }

  /* line 919, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background4 {
    display: none;
  }

  /* line 922, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background5 {
    display: none;
  }

  /* line 925, /alidata/www/bixuange/app/assets/stylesheets/bixuange.scss */
  #background6 {
    display: none;
  }
}
/* line 4, /alidata/www/bixuange/app/assets/stylesheets/subscribers.scss */
.form {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: #DDDDDD;
  padding-top: 5px;
  opacity: 0.8;
}

/* line 13, /alidata/www/bixuange/app/assets/stylesheets/subscribers.scss */
#subscriber_email {
  margin-left: 15px;
}

/* line 16, /alidata/www/bixuange/app/assets/stylesheets/subscribers.scss */
h1 {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*@font-face {*/
    /*font-family: 'KaitiTC1'; */
    /*src: url('../font/kaitiTC.TTF'); */
/*}*/

