// Place all the styles related to the subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: #DDDDDD	;
  padding-top:5px;
  opacity:0.8;
}
#subscriber_email {
  margin-left: 15px;
}
h1 {
  text-align: center;
}
