html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  font-family: Kaiti TC,"楷体","楷体_GB2312",KaiTi_GB2312,KaiTi,STKaiti Regular,Adobe Kaiti Std R;
}
.cover{
  height: 100%;
}
.city {
  height: 80px;
  width: 50px;
  margin: 0 auto;
}

.panel{
  display: none;
}

.panel.first{
  display: block;
}
.beijing {
  background: url(images/Beijing_5.png) no-repeat;
  background-size: 100% 100%; }

.shenzhen {
  background: url(images/Shenzhen_6.png) no-repeat;
  background-size: 100% 100%;
}

.shengmaodou{
  position: absolute;
  width: 200px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -210px;
  background: url(images/shengmaodou.png) no-repeat;
  background-size: 100% 100%;
}

.shengmaodou.word{
  background: url(images/shengmaodou.png) no-repeat;
  background-size: 100% 100%;
}
.shengmaodou.hardware{
  background: url(images/smd_hardware.png) no-repeat;
  background-size: 100% 100%;
}

.description{
  width: 70px;
  height: 300px;
  margin-left: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: flex-start;
  font-size: 25px;
}

.description div{
  width: 48%;
}
.logoes{
  position: absolute;
  width: 440px;
  height: 60px;
  left: 50%;
  margin-bottom: 50px;
  margin-left: -220px;
  bottom: 0;
}

.logoes div{
  display: inline-block;
}

.lemeike{
  height: 100%;
  width: 222px;
  background: url(images/lemeike.png) no-repeat;
  background-size: 100% 100%;
}

.bixuange{
  height: 100%;
  width: 210px;
  background: url(images/bixuange.png) no-repeat;
  background-size: 100% 100%;
}

.logoes .bixuange{
  border-right: 2px solid #000;
}

.dou{
  height: 100%;
  width: 150px;
  background: url(images/dou.png) no-repeat;
  background-size: 100% 100%;
}

.footer{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  z-index: -100;
}

.footer .lemeike{
  width: 220px;
  background: url(images/by_lemeike.png) no-repeat;
  background-size: 100% 100%;
}

.map {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -250px; }

.heat {
  width: 400px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -200px; }

.charts {
  width: 800px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -400px; }

.building {
  height: 400px; }

.building.beijing {
  background: url("images/building_beijing.png");
  background-size: 100% 100%; }

.building.shenzhen {
  background: url("images/building_shenzhen.png");
  background-size: 100% 100%; }

#chart {
  height: 300px;
  width: 800px;
}

.compare{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  height: 40px;
  font-size: 18px;
}

.com{
  height: 20px;
}

.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px auto;
  margin-top: 40px;
  height: 3px;
  background: -webkit-linear-gradient(left, #036eb8, #ebd678, #d8234e);
  background: -o-linear-gradient(left, #036eb8, #ebd678, #d8234e);
  background: -moz-linear-gradient(left, #036eb8, #ebd678, #d8234e);
  background: linear-gradient(to right, #036eb8, #ebd678, #d8234e);
}

.tip{
  width: 50px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  color: grey;
}

.data_mode {
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.check_mode {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between; }

.mode {
  width: 90px;
  /* Or whatever */
  height: 10px;
  cursor: pointer;
  /* Or whatever */
}

.data_mode .mode{
  height: 90px;
}

.check_mode.bottom{
  margin-bottom: 80px;
}

.point {
  width: 120px;
  /* Or whatever */
  height: 50px;
  /* Or whatever */ }

.labelCont {
  display: flex;
  width: 70px;
  height: 100%;
  justify-content: center;
  flex-direction: column; }

.label {
  width: 100%; }

.round {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  text-align: center;
  line-height: 50px; }

.points_containter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px; }

.hum .round {
  color: white; }

.point.temper .round {
  background-color: #8EC31E; }

.point.temper .labelCont {
  color: #8EC31E; }

.point.hum .round {
  background-color: #172987; }

.point.hum .labelCont {
  color: #172987; }

.point.pm_25 .round {
  background-color: #51ABCB; }

.point.pm_25 .labelCont {
  color: #51ABCB; }

.point.pm10 .round {
  background-color: #F2C75B; }

.point.pm10 .labelCont {
  color: #F2C75B; }

.point.voice_round .round {
  background-color: #D8234E; }

.point.voice_round .labelCont {
  color: #D8234E; }

.point.co2 .round {
  background-color: #E9544F; }

.point.co2 .labelCont {
  color: #E9544F; }

.max, .min {
  float: left; }

.humidity {
  background: url("images/3.png");
  background-size: 100% 100%;
}

.humidity.active {
    background: url("images/7.png");
    background-size: 100% 100%;
}

.temp {
  background: url("images/5.png");
  background-size: 100% 100%;
}
.temp.active {
  background: url("images/9.png");
  background-size: 100% 100%;
}

.pm25 {
  background: url("images/4.png");
  background-size: 100% 100%;
}
.pm25.active {
  background: url("images/8.png");
  background-size: 100% 100%;
}
.voice.active {
  background: url("images/10.png");
  background-size: 100% 100%;
}
.voice {
  background: url("images/6.png");
  background-size: 100% 100%;
}

@-webkit-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; } }
@-moz-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; } }
@-o-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; } }
@keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0; } }
.back_left {
  position: absolute;
  height: 90px;
  width: 120px;
  background: url("images/Beijing_6.png") no-repeat;
  background-size: 100% 100%;
  bottom: 40px;
  left: 105px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.7s 0.3s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.7s 0.3s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.7s 0.3s 1 normal forwards;
  -o-animation: rota 0.7s 0.3s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.7s 0.3s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.back_right {
  position: absolute;
  height: 170px;
  width: 237px;
  background: url("images/Beijing_3.png") no-repeat;
  background-size: 100% 100%;
  bottom: 20px;
  right: 60px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.6s 0.5s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.6s 0.5s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.6s 0.5s 1 normal forwards;
  -o-animation: rota 0.6s 0.5s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.6s 0.5s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.front_left {
  position: absolute;
  height: 95px;
  width: 120px;
  background: url("images/Beijing_2.png") no-repeat;
  background-size: 100% 100%;
  bottom: 10px;
  left: 25px;
  -webkit-filter: drop-shadow(70px -3px 3px rgba(0, 0, 0, 0.1));
  -moz-filter: drop-shadow(70px -3px 3px rgba(0, 0, 0, 0.1));
  -ms-filter: drop-shadow(70px -3px 3px rgba(0, 0, 0, 0.1));
  -o-filter: drop-shadow(70px -3px 3px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(70px -3px 3px rgba(0, 0, 0, 0.1));
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.7s 0.8s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.7s 0.8s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.7s 0.8s 1 normal forwards;
  -o-animation: rota 0.7s 0.8s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.7s 0.8s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.front_right {
  position: absolute;
  height: 100px;
  width: 120px;
  background: url("images/Beijing_4.png") no-repeat;
  background-size: 100% 100%;
  bottom: 10px;
  right: 30px;
  -webkit-filter: drop-shadow(-50px -3px 3px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(-50px -3px 3px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(-50px -3px 3px rgba(0, 0, 0, 0.2));
  -o-filter: drop-shadow(-50px -3px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-50px -3px 3px rgba(0, 0, 0, 0.2));
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 1.2s 0.7s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 1.2s 0.7s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 1.2s 0.7s 1 normal forwards;
  -o-animation: rota 1.2s 0.7s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 1.2s 0.7s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.tiananmen {
  position: absolute;
  height: 120px;
  width: 280px;
  background: url("images/Beijing_1.png") no-repeat;
  background-size: 100% 100%;
  bottom: 20px;
  left: 50%;
  margin-left: -140px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 1.2s 0s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 1.2s 0s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 1.2s 0s 1 normal forwards;
  -o-animation: rota 1.2s 0s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 1.2s 0s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.sz_bl {
  position: absolute;
  height: 120px;
  width: 200px;
  background: url("images/Beijing_3.png") no-repeat;
  background-size: 100% 100%;
  bottom: 54px;
  left: 132px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.7s 0.4s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.7s 0.4s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.7s 0.4s 1 normal forwards;
  -o-animation: rota 0.7s 0.4s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.7s 0.4s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.tower {
  position: absolute;
  height: 180px;
  width: 100px;
  background: url("images/Shenzhen_2.png") no-repeat;
  background-size: 100% 100%;
  bottom: 50px;
  right: 143px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.8s 0.5s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.8s 0.5s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.8s 0.5s 1 normal forwards;
  -o-animation: rota 0.8s 0.5s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.8s 0.5s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.sz_fl {
  position: absolute;
  height: 100px;
  width: 120px;
  background: url("images/Beijing_4.png") no-repeat;
  background-size: 100% 100%;
  bottom: 24px;
  left: 65px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.5s 0.1s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.5s 0.1s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.5s 0.1s 1 normal forwards;
  -o-animation: rota 0.5s 0.1s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.5s 0.1s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.sz_fr {
  position: absolute;
  height: 120px;
  width: 220px;
  background: url("images/Shenzhen_4.png") no-repeat;
  background-size: 100% 100%;
  bottom: 24px;
  right: 60px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 0.4s 0.2s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 0.4s 0.2s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 0.4s 0.2s 1 normal forwards;
  -o-animation: rota 0.4s 0.2s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 0.4s 0.2s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.world_window {
  position: absolute;
  height: 120px;
  width: 295px;
  background: url("images/Shenzhen_1.png") no-repeat;
  background-size: 100% 100%;
  bottom: 40px;
  left: 54%;
  margin-left: -150px;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota 1s 0s 1 normal forwards;
  /* Safari 4+ */
  -moz-animation: rota 1s 0s 1 normal forwards;
  /* Fx 5+ */
  -ms-animation: rota 1s 0s 1 normal forwards;
  -o-animation: rota 1s 0s 1 normal forwards;
  /* Opera 12+ */
  animation: rota 1s 0s 1 normal forwards;
  /* IE 10+, Fx 29+ */ }

.floor {
  background: url(images/Beijing_7.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0; }
  .cd-vertical-nav {
      position: fixed;
      z-index: 2;
      right: 3%;
      top: 40%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      list-style: none;
}

.cd-vertical-nav a {
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: transparent url(//7xj6xc.com2.z0.glb.qiniucdn.com/assets/static_page/cd-icon-arrow-162e3620ecc7b0eafda29ea496bc0b0e.png) center center;
    background-size: 40px 40px;
    -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
    transition: opacity 0.2s 0s, visibility 0.2s 0s;
}

.cd-vertical-nav a.cd-prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 10px;
}

@media only screen and (min-width: 1178px) {
  .map {
    height: 350px;
    width: 800px;
    top: 200px;
    left: 50%;
    margin-left: -400px;
  }

  .city{
    margin-top: -120px;
  }

  .back_left {
    height: 45%;
    width: 40%;
    left: 13%;
  }

  .back_right {
    height: 80%;
    width: 50%;
    right: 8%;
  }

  .front_left {
    height: 40%;
    width: 25%;
    left: 4%;
  }

  .front_right {
    height: 40%;
    width: 25%;
    right: 4%;
  }

  .tiananmen {
    height: 60%;
    width: 55%;
    margin-left: -225px;
  }

  .sz_bl {
    height: 200px;
    width: 300px;
    left: 132px;
  }

  .world_window {
    height: 200px;
    width: 400px;
    margin-left: -200px;
  }
  .tower {
    height: 300px;
    width: 150px;
    right: 170px;
  }
  .sz_fl {
      height: 150px;
      width: 200px;
      left: 80px;
    }
  .sz_fr {
      height: 160px;
      width: 300px;
      right: 70px;
    }
}
@media only screen and (max-width: 768px) {
  .panel .footer{
    display: none;
    height: 500px;
  }

  .heat {
    width: 100%;
    min-width: 400px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -50%;
  }

  .charts {
    width: 100%;
    top: 60px;
    margin-left: -50%;
  }
  #chart{
    height: 200px;
    width: 100%;
  }
  .check_mode{
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .mode {
    height: 20px;
  }

  .point {
    height: 60px;
  }

  .compare{
    margin: 0 auto;
  }
  .tooltip{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .check_mode.bottom {
    margin-bottom: 20px;
  }
  nav{display: none;}

  .logoes{
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=beijing.css.map */
