html, body, .page{
  width: 100%;
  height: 100%;
}
.city{
  height: 80px;
  width: 50px;
  margin: 0 auto;

}
.beijing{
  background: url(images/beijing_5.png) no-repeat;
  background-size: 100% 100%;
}
.shenzhen{
  background: url(images/shenzhen_6.png) no-repeat;
  background-size: 100% 100%;
}
.map{
  height: 350px;
  width: 500px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -250px;
}

.heat{
  width: 500px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -250px;
}

.charts{
  width: 800px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -400px;
}

.building{
  height: 400px;
}

.building.beijing{
  background: url("images/building_beijing.png");
  background-size: 100% 100%;
}

.building.shenzhen{
  background: url("images/building_shenzhen.png");
  background-size: 100% 100%;
}

#chart{
  height: 300px;
  width: 800px;
}
.tooltip{
  width: 80%;
  margin: 25px auto;
  height: 3px;
  background: -webkit-linear-gradient(left,rgba(3,110,184,1),rgba(235,214,120,1),rgba(216,35,78,1));
  background: -o-linear-gradient(left,rgba(3,110,184,1),rgba(235,214,120,1),rgba(216,35,78,1));
  background: -moz-linear-gradient(left,rgba(3,110,184,1),rgba(235,214,120,1),rgba(216,35,78,1));
  background: linear-gradient(to right,rgba(3,110,184,1),rgba(235,214,120,1),rgba(216,35,78,1));
}

.data_mode{
  width: 80%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.check_mode{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.mode{
  width: 80px;  /* Or whatever */
  height: 80px; /* Or whatever */
}

.point{
  width: 120px;  /* Or whatever */
  height: 50px; /* Or whatever */
}

.labelCont{
  display: flex;
  width: 70px;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.label{
  width: 100%;
}

.round{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  text-align: center;
  line-height: 50px;
}
.points_containter{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
}

.hum .round{
  color: white;
}
.point.temper .round{
  background-color: #8EC31E;
}
.point.temper .labelCont{
  color: #8EC31E;
}
.point.hum .round{
  background-color: #172987;
}
.point.hum .labelCont{
  color: #172987;
}
.point.pm_25 .round{
  background-color: #51ABCB;
}
.point.pm_25 .labelCont{
  color: #51ABCB;
}
.point.pm10 .round{
  background-color: #F2C75B;
}
.point.pm10 .labelCont{
  color: #F2C75B;
}
.point.voice_round .round{
  background-color: #D8234E;
}
.point.voice_round .labelCont{
  color: #D8234E;
}
.point.co2 .round{
  background-color: #E9544F;
}
.point.co2 .labelCont{
  color: #E9544F;
}

.max, .min{
  float: left;
}

.humidity{
  background: url("images/3.png");
  background-size: 100% 100%;
}

.temp{
  background: url("images/5.png");
  background-size: 100% 100%;
}

.pm25{
  background: url("images/4.png");
  background-size: 100% 100%;
}

.voice{
  background: url("images/6.png");
  background-size: 100% 100%;
}

@mixin filter-shadow($x, $y, $radius, $color) {
  -webkit-filter: drop-shadow($x $y $radius $color);
  -moz-filter: drop-shadow($x $y $radius $color);
  -ms-filter: drop-shadow($x $y $radius $color);
  -o-filter: drop-shadow($x $y $radius $color);
  filter: drop-shadow($x $y $radius $color);
}

@mixin ab_position($w, $h, $url) {
  position: absolute;
  height: $h;
  width: $w;
  background: url($url) no-repeat;
  background-size: 100% 100%;
}

@-webkit-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
}
@-moz-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
}
@-o-keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
}
@keyframes rota {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;

  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform-origin: 0% 100% 0;
    -ms-transform-origin: 0% 100% 0;
    -o-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
  }
}

@mixin card($duration, $delay) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: rota $duration $delay 1 normal forwards; /* Safari 4+ */
  -moz-animation: rota $duration $delay 1 normal forwards; /* Fx 5+ */
  -ms-animation: rota $duration $delay 1 normal forwards;
  -o-animation: rota $duration $delay 1 normal forwards; /* Opera 12+ */
  animation: rota $duration $delay 1 normal forwards; /* IE 10+, Fx 29+ */
}

.back_left {
  @include ab_position(120px, 90px, 'images/Beijing_6.png');
  bottom: 40px;
  left: 105px;
  @include card(.7s, 0.3s);
}

.back_right {
  @include ab_position(237px, 170px, 'images/Beijing_3.png');
  bottom: 20px;
  right: 60px;
  @include card(.6s, 0.5s);
}

.front_left {
  @include ab_position(120px, 95px, 'images/Beijing_2.png');
  bottom: 10px;
  left: 25px;
  @include filter-shadow(70px, -3px, 3px, rgba(0, 0, 0, 0.1));
  @include card(.7s, .8s);
}


.front_right {
  @include ab_position(120px, 100px, 'images/Beijing_4.png');
  bottom: 10px;
  right: 30px;
  @include filter-shadow(-50px, -3px, 3px, rgba(0, 0, 0, 0.2));
  @include card(1.2s, .7s);
}

.tiananmen{
  @include ab_position(280px, 120px, 'images/Beijing_1.png');
  bottom: 20px;
  left: 50%;
  margin-left: -140px;
  @include card(1.2s, 0s);
}

.sz_bl{
  @include ab_position(200px, 120px, 'images/Beijing_3.png');
  bottom: 54px;
  left: 132px;
  @include card(.7s, .4s);
}
.tower{
  @include ab_position(100px, 180px, 'images/Shenzhen_2.png');
  bottom: 50px;
  right: 143px;
  @include card(.8s, 0.5s);
}
.sz_fl{
  @include ab_position(120px, 100px, 'images/Beijing_4.png');
  bottom: 24px;
  left: 65px;
  @include card(.5s, 0.1s);
}
.sz_fr{
  @include ab_position(220px, 120px, 'images/Shenzhen_4.png');
  bottom: 24px;
  right: 60px;
  @include card(.4s, 0.2s);
}

.world_window{
  @include ab_position(295px, 120px, 'images/Shenzhen_1.png');
  bottom: 40px;
  left: 54%;
  margin-left: -150px;
  @include card(1s, 0s);
}

.floor {
  background: url(images/Beijing_7.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
}
